@media(max-width:600px){
    body{
        background-color: red;

    }
    div::after{
        content : 'hello guys';
    }
    
}
div{
    text-align: center;
    font-size: x-large;
}
@media(min-width:600px){
    body{
        background-color: green;

    }
    div::after{
        content : 'hello guys';
    }
    
}
@media(min-width:768px){
    body{
        background-color: yellow;

    }
    div::after{
        content : 'hello guys';
    }
    
}
@media(min-width:992px){
    body{
        background-color: aquamarine;

    }
    div::after{
        content : 'hello guys';
    }
    
}
@media(min-width:1200px){
    body{
        background-color: orangered;

    }
    div::after{
        content : 'hello guys';
    }
    
}